@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

main {
    margin: 0 auto;
    max-width: 900px;
}

.home-page {
    text-align: center;
}

.quiz-page {
    text-align: left;
}